<!-- countries.component.html -->

<table mat-table [dataSource]="countries" matSort>

    <ng-container matColumnDef="Flag">
        <th mat-header-cell *matHeaderCellDef>Flag</th>
        <td mat-cell *matCellDef="let country">
          <img [src]="getFlagImage(country.Code2)" alt="Flag" class="flag-icon" width="100px">
        </td>
      </ng-container>
    <!-- Code Column -->
    <ng-container matColumnDef="Code">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
        <td mat-cell *matCellDef="let country">{{ country.Code }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let country">{{ country.Name }}</td>
    </ng-container>

    <!-- Continent Column -->
    <ng-container matColumnDef="Continent">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Continent</th>
        <td mat-cell *matCellDef="let country">{{ country.Continent }}</td>
    </ng-container>


    <!-- SurfaceArea Column -->
    <ng-container matColumnDef="SurfaceArea">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Surface Area</th>
        <td mat-cell *matCellDef="let country">{{ country.SurfaceArea }}</td>
    </ng-container>

    <!-- Population Column -->
    <ng-container matColumnDef="Population">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Population</th>
        <td mat-cell *matCellDef="let country">{{ country.Population }}</td>
    </ng-container>

    <!-- GNP Column -->
    <ng-container matColumnDef="GNP">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>GNP</th>
        <td mat-cell *matCellDef="let country">{{ country.GNP }}</td>
    </ng-container>

    <!-- Code2 Column -->
    <ng-container matColumnDef="Code2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Code2</th>
        <td mat-cell *matCellDef="let country">{{ country.Code2 }}</td>
    </ng-container>

    <!-- Table rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<mat-paginator [pageSizeOptions]="[5, 10, 50, 100, 300]"></mat-paginator>