<!-- country-dialog.component.html -->

<h2 mat-dialog-title>{{ data.Name }}</h2>
<div mat-dialog-content>
  <p>Code: {{ data.Code }} / {{data.Code2}}</p>
  <p>Continent: {{ data.Continent }}</p>
  <p>Region: {{ data.Region }}</p>
  <p>Surface Area: {{ data.SurfaceArea }}</p>
  <p>Population: {{ data.Population }}</p>
  <p>GNP: {{ data.GNP }}</p>
  <p>Capital: {{ data.Capital }}</p>
</div>
<img [src]="getMapImage(data.Code)" alt="{{ data.Name }} Map">
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Close</button>
</div>
